
<body>
    <table style="width:100%">
        <tr>
            <th>FirstName</th> 
            <th>LastName</th>
            <th>PrintedName</th>
        </tr>

        <tr>
            <td>Ravi</td>
            <td>prasad</td>
            <td>Ravi</td>
         </tr>
         
         <tr>
            <td>Rajeshwar</td>
            <td>Reddy</td>
            <td>Rajesh</td>
         </tr>

         <tr>
            <td>Kiran</td>
            <td>Balumuri</td>
            <td>Kiran</td>
         </tr>


    </table>
</body>