<html><body>
<div class="appbackground">
  <h3 style="text-align: Center;" >Project A</h3> &nbsp;

  <!-- <h4> Project  A is designed in 2022, Explore our website for more details</h4> -->

  <!--<app-sample></app-sample> -->
  <!-- <app-basicpipes></app-basicpipes> -->
  <app-basicstructuraldirectives></app-basicstructuraldirectives>

  
  <a routerLink="/Home" > Home </a> | <a routerLink="/About"> About </a> | <a routerLink = "/Services"> Services </a> 
  <router-outlet></router-outlet>
</div>
</body>
</html>