<html><body>
<!-- <div class="appbackground"> -->
<div>
  <h3 >Project A</h3> &nbsp;

  <!-- <h4> Project  A is designed in 2022, Explore our website for more details</h4> -->

  <!--<app-sample></app-sample> -->
  <!-- <app-basicpipes></app-basicpipes> -->
  <!-- <app-basicstructuraldirectives></app-basicstructuraldirectives>

  
  <a routerLink="/Home" > Home </a> | <a routerLink="/About"> About </a> | <a routerLink = "/Services"> Services </a> 
  <router-outlet></router-outlet> -->

  <!-- <app-basictemplatedrivenforms></app-basictemplatedrivenforms> -->
  <!-- <app-basicreactiveformsexample></app-basicreactiveformsexample> -->
  <!-- <h1>Parent Component</h1>
  Enter your Parent Data : <input type="text" #parent (keyup)="sendData(parent.value)"><br>
  Child component data display here : {{displaychild}}
  <hr>
  <app-basicinputoutputdecorators [Data]="parent.value" (Childdata)="displaychild=$event"></app-basicinputoutputdecorators> -->
  
  <!-- <app-employeesdata></app-employeesdata> -->
  <router-outlet></router-outlet>
  
</div>
</body>
</html>