<h1>basicpipes works!</h1>
<h1> {{firstname | uppercase}}</h1>
<h1>{{lastname | lowercase}}</h1>
<h1> {{samplemsg | titlecase}}</h1>
<h1>{{dateobj}}</h1>
<h1>{{dateobj | date}}</h1>
<h1>{{dateobj | date:'shortDate'}}</h1>
<h1>{{dateobj | date:'mediumDate'}}</h1>
<h1>{{dateobj | date:'longDate'}}</h1>
<h1>{{dateobj | date:'shortTime'}}</h1>
<h1>{{dateobj | date:'mediumTime'}}</h1>
<h1>{{dateobj | date:'longTime'}}</h1>
<h1>{{total}}</h1>
<h1>{{total | number:'3.4'}}</h1>
<h1>{{newtotal}}</h1>
<h1>{{newtotal | number:'4.3-4'}}</h1>
<h1>{{price | currency}}</h1>
<h1>{{price | currency:'INR'}}</h1>
<h1>{{price | currency:'GBP'}}</h1>

